<footer>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis porttitor sapien. Vivamus ultrices et lectus sit amet luctus. Nullam vehicula nisl non diam varius, ut lobortis magna rutrum. Praesent felis nisi, hendrerit vitae imperdiet eget, ultrices ac lorem. Sed sit amet turpis in purus pulvinar condimentum.
  </div>
  <div class="footer-section">
	<div class="links-section">
	  <div class="footer-link">Copyright 2016 | Tech for America</div>
	  <div class="footer-link">About</div>
	  <div class="footer-link">Terms of Service</div>
    </div>
  </div>
</footer>
