<!-- Start Gallery Menu -->
<div class="playbook-nav-wrapper gallery homepage">
  
  <a href="#doordash" class="nav-element gallery-logo doordash extended">
    <div class="nav-element-description">Registration Form Delivery</div>
  </a>
  
  <a href="#facebook" class="nav-element gallery-logo facebook selected">
    <div class="nav-element-description">Voting Plan</div>
  </a>

  <a href="#foursquare" class="nav-element gallery-logo foursquare extended">
    <div class="nav-element-description">Interactive Map</div>
  </a>

  <a href="#google" class="nav-element gallery-logo google">
    <div class="nav-element-description">Voter Information</div>
  </a>

  <a href="#linkedin" class="nav-element gallery-logo linkedin extended">
    <div class="nav-element-description">Call to Vote</div>
  </a>

  <a href="#lyft" class="nav-element gallery-logo lyft extended">
    <div class="nav-element-description">Registration Blog</div>
  </a>
  
  <a href="#nextdoor" class="nav-element gallery-logo nextdoor">
    <div class="nav-element-description">Neighborhood Vote Map</div>
  </a>
  
  <br class="show-3-on-home" />

  <a href="#pinterest" class="nav-element gallery-logo pinterest extended">
    <div class="nav-element-description">Promoted Registration Pin</div>
  </a>
  
  <a href="#quora" class="nav-element gallery-logo quora extended">
    <div class="nav-element-description">Register to Vote Button</div>
  </a>
  
  <a href="#square" class="nav-element gallery-logo square extended">
    <div class="nav-element-description">Register to Vote Option</div>
  </a>

  <a href="#skimm" class="nav-element gallery-logo skimm extended">
    <div class="nav-element-description">Elections-Focused Site</div>
  </a>
  
  <a href="#tinder" class="nav-element gallery-logo tinder">
    <div class="nav-element-description">Swipe The Vote</div>
  </a>
  
  <a href="#tumblr" class="nav-element gallery-logo tumblr extended">
    <div class="nav-element-description">Registration Prompts</div>
  </a> 

  <a href="#twitter" class="nav-element gallery-logo twitter  extended">
    <div class="nav-element-description">Voter Registration Bot</div>
  </a> 

  <a href="#uber" class="nav-element gallery-logo uber extended">
    <div class="nav-element-description">Outreach Email</div>
  </a>

  <a href="#yelp" class="nav-element gallery-logo yelp">
    <div class="nav-element-description">Polling Places</div>
  </a> 

  <a href="#youtube" class="nav-element gallery-logo youtube extended">
    <div class="nav-element-description">Video Campaign</div>
  </a> 


  <!--
  <a href="#airbnb" class="nav-element gallery-logo airbnb">
    <div class="nav-element-description">Voting-Focused Site</div>
  </a>
  -->
  
  <a href="/gallery" class="nav-element gallery-logo seemore">
    <div class="nav-element-description">See More Examples</div>
  </a>
</div>
<!-- End Gallery Menu -->

<!-- Start Gallery Markup -->

<div id="doordash" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/doordash_1.png" />
  </div>
  <div class="gallery-text">
    <h2>Doordash</h2>
    Doordash partnered with <a href="www.rockthevote.org" target="_blank">Rock the Vote</a> to add physical voter registration form delivery to its services. They created a new store on Doordash so customers could order registration forms delivered to their doorsteps.
  </div>
</div>

<div id="facebook" class="gallery-container" style="display:inline-block">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/facebook-registration-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>Facebook</h2>
    Facebook launched a homepage promotion to encourage people to confirm
    they were registered to vote. They linked to <a href="vote.usa.gov">http://vote.usa.gov/</a> for registration and
    encourage social sharing with a "registered to vote" status. <a href="http://www.sfchronicle.com/politics/article/Facebook-drives-big-spike-in-California-voter-9458921.php" target="_blank">SF Chronicle</a>
    reported that California saw a 13X jump in voter registrations on the day of this Facebook promotion. In the lead-up to 
    Election Day, Facebook also launched <a href="https://www.facebook.com/elections/yourplan" target="_blank">Voting Plan</a>, 
    a tool that shows all voters the candidates and propositions they will find on their official ballot. Facebook 
    worked with the non-partisan <a href="https://www.facebook.com/HelloCTCL/" target="_blank">Center for Technology and Civic Life</a>
    to accessibly present this information across any device, making it easy to do advance research and planning
    in preparation for voting.
  </div>
</div>


<div id="foursquare" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/Foursquare_InteractiveMap.png" />
  </div>
  <div class="gallery-text">
    <h2>Foursquare</h2>
        Foursquare has several initiatives planned leading up to the election to help drive voter participation. Foursquare is creating an interactive map online so that voters nationwide can find their local polling place as well as popular coffee, lunch and bar spots nearby, allowing them to plan and create a moment around the act of voting. Additionally, the Foursquare Swarm check-in app will send notifications around National Voter Registration Day to remind users in the US to register as well as state-specific notifications leading up to registration deadlines nationwide. Foursquare Swarm will also reward them with an exclusive, limited edition “I Voted” sticker on Election Day.
  </div>
</div>


<div id="google" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/google_phone_example.png" />
  </div>
  <div class="gallery-text">
    <h2>Google</h2>
    Google launched a 
    <a target="_blank" href="https://www.google.com/doodles/us-voter-registration-day-reminder">National Voter Registration Day Doodle</a>
    on their homepage calling upon people to vote in English, Spanish and Chinese within their animated image. They pointed this Doodle at their 
    <a target="_blank" href="https://www.google.com/search?q=register+to+vote+in+the+united+states">2016 Election search tool</a>
    which gives people in-depth, state-by-state guides on voter registration and how to vote.
    These features, which are available in both English and Spanish, provide information on everything from how 
    to register online or in person to ID requirements, key deadlines, and when and where you can vote early. 
    Google also launched support in Search for
    "<a href="https://www.google.com/search?q=who%27s+on+my+ballot" target="_blank">who's on my ballot</a>" which provides detailed information on national to local candidates and election issues, 
    plus “<a href="https://www.google.com/search?q=where+to+vote" target="_blank">where to vote</a>” 
    which helps people find their polling place location and voting ID requirements.  
    Google's <a href="https://developers.google.com/civic-information/" target="_blank">Civic Information API</a>
    provides information on polling places, early vote location, candidate data, and other election official information.
  </div>
</div>



<div id="linkedin" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/linkedin-mobile2.png" />
  </div>
  <div class="gallery-text">
    <h2>LinkedIn</h2>
    LinkedIn will <a href="https://blog.linkedin.com/2016/11/03/vote-an-important-connection-to-economic-opportunity-linkedin" target="_blank">encourage its 130+ million U.S. members to vote</a> with a mobile prompt that reads, 
    “Remember to vote. Make sure your voice is heard this election," along with this link to 
    <a href="https://gttp.votinginfoproject.org/" target="_blank">locate their polling location</a>. 
    Government policies on issues such as tax, trade, immigration, education, 
    health care and the environment will be influenced by the results of these elections, which is why 
    LinkedIn believes strongly that every voter should get to the polls on or before Election Day.
    
  </div>
</div>


<div id="lyft" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/lyft-nvrd-crop.png" />
  </div>
  <div class="gallery-text">
    <h2>Lyft</h2>
    Lyft is a founding members of the <a href="http://turbo.vote/" target="_blank">TurboVote Challenge</a>, 
    an effort aimed at increasing voter registration. 
    As a part of this effort, <a href="https://blog.lyft.com/posts/2016/9/21/national-voter-registration-day" target="_blank">Lyft reached out</a> 
    to members of their driver and passenger community throughout 
    the country, and teamed up with Starbucks for an event in Queens on National Voter Registration Day. 

  </div>
</div>


<div id="nextdoor" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/nextdoor_vote_map.png" />
  </div>
  <div class="gallery-text">
    <h2>Nextdoor</h2>
    Nextdoor launches the Nextdoor Vote Map in early November, a feature that enables members to confirm their plans to vote with their neighbors. Whether they plan to vote or have already voted, the Nextdoor Vote Map allows neighbors to share neighbors’ plans with each other by placing an icon above their home on their neighborhood’s map. Based on their response, each member is offered helpful resources like early voting information and tips on how to find their local polling places through Google’s election search tools.   
  </div>
</div>


<div id="pinterest" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/pinterest_example_2.jpg" />
  </div>
  <div class="gallery-text">
    <h2>Pinterest</h2>
    Pinterest launched pins on their <a href="https://www.pinterest.com/pinterest/official-news/" target="_blank">Official news board</a> to drive people to check their registration status, register to vote or get an absentee ballot. People engaging with each pin could take action immediately from within the pin as Pinterest had embedded <a href="www.vote.org/technology" target="_blank">Vote.org's</a> iframe units.
  </div>
</div>

<!-- <div id="airbnb" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/airbnb-votingrights-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>Airbnb</h2>
    Airbnb launched and promoted a voter registration site at
    <a target="_blank" href="http://votingrightsact.airbnbaction.com/">http://votingrightsact.airbnbaction.com/</a> 
    to commemorate the day the <a target="_blank" href="https://www.airbnb.com/press/news/honoring-the-voting-rights-act">Voting Rights Act</a> was signed in 1965. They partnered with National Coalition on Black Civic Participation, Voto Latino and Democracy Works to provide specialized voter registration options, all powered by <a href="http://www.turbovote.org" target="_blank">http://www.turbovote.org</a>.
  </div>
</div>
-->


<div id="quora" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/quora-vote-button.png" />
  </div>
  <div class="gallery-text">
    <h2>Quora</h2>
    Quora asked people to register to vote next to their
    home feed. Their Register to Vote button led people to the <a href="http://nationalvoterregistrationday.org/register-to-vote/" target="_blank">National Voter Registration Day</a> site.
  </div>
</div>


<div id="square" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/square_callout_2.png" />
  </div>
  <div class="gallery-text">
    <h2>Square</h2>
      Square built a feature into its payments platform to allow its many businesses to easily add a "Register Today" call to action at the bottom of their purchase receipts. Their registration prompts took people to <a href="vote.usa.gov" target="_blank">http://vote.usa.gov</a> for registration.
  </div>
</div>

<div id="skimm" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/theskimm-skimmthevote-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>TheSkimm</h2>
    TheSkimm launched a site dedicated to the elections at
    <a href="http://www.theskimm.com/2016-election" target="_blank">http://www.theskimm.com/2016-election</a>
    using a white label version of <a href="www.rockthevote.org" target="_blank">Rock the Vote</a>'s tools to power voter registration. They also included links to help people learn more about candidates and election issues. Daily Skimm emails have included promotions pointing to this page. To date, they have helped register over 85K people.
  </div>
</div>


<div id="tinder" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/tinder-swipethevote.jpg" />
  </div>
  <div class="gallery-text">
    <h2>Tinder</h2>
    Tinder launched <a href="http://blog.gotinder.com/swipe-the-vote-around-the-world-2/" target="_blank">Swipe the Vote</a>
    around the world in more than 15 countries to help mobilize, inform and engage users in civic issues. Users get to 
    swipe on some of the most important issues facing American voters, from immigration to climate change, to find out 
    if they’re #WithHer or on the #TrumpTrain – and whether their stances truly match with the candidate they’ve been 
    supporting. Users in the U.S. can also locate the nearest polling location once they match with a candidate. 
    Tinder partnered with Rock the Vote and Wedgies, a real-time polling platform, to build this new feature.
    "The voices and opinions of our users are more important than ever - with this election marking the first time 
    that nearly all millennials can vote," said Sean Rad, Founder and CEO of Tinder. "We are excited to be doing our 
    part to educate and mobilize our users, in partnership with Rock the Vote, while driving global conversation and 
    awareness about this historic election."    
  </div>
</div>


<div id="tumblr" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/tumblr-dashboard.jpg" />
  </div>
  <div class="gallery-text">
    <h2>Tumblr</h2>
    Tumblr has supported National Voter Registration Day since its inception in 2012. 
    In this third year of participation, Tumblr linked logged-in users in the US directly 
    to the National Voter Registration Day's registration landing page via a prominent 
    button in the right rail of the Tumblr dashboard and via an animated post on the 
    Tumblr Staff blog which was promoted in their feed. 
    To extend their impact on voter turnout, this year Tumblr added a new feature to 
    give blog owners the option to adopt an interstitial so that all of their web 
    visitors would be encouraged to go register as well -- nearly 175,000 blogs opted in.
    Tumblr plans to activate at a similar scale to help users make a plan to get to the polls in time for Election Day.
  </div>
</div>



<div id="twitter" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/twitter_dm.png" />
  </div>
  <div class="gallery-text">
    <h2>Twitter</h2>
          Twitter <a href="https://blog.twitter.com/2016/get-registered-to-vote-with-gov" target="_blank">launched @Gov</a> to help people register by simply sending a private, Direct Message with their zip code to this account. <a href="http://www.twitter.com/gov" target="_blank">@Gov</a> automatically responds with people's state voter registration deadline and a personalized link to get registered. Approaching Election Day, Twitter will expand <a href="http://www.twitter.com/gov" target="_blank">@Gov</a>'s capabilities to also answer additional questions from voters, like polling place location and ballot information through a partnership with <a href="https://votinginfoproject.org/" target="_blank">Pew’s Voting Information Project</a> and <a href="https://developers.google.com/civic-information/" target="_blank">Google’s Information Civic API</a>.    
  </div>
</div>


<div id="uber" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/uber_example_2.png" />
  </div>
  <div class="gallery-text">
    <h2>Uber</h2>
    Uber sent dedicated voter registration emails to millions of riders and drivers, pointing people to state-by-state information through Google's <a href="https://www.google.com/search?q=register+to+vote+in+the+united+states" target="_blank">election search tools</a>. In addition, Uber is making it easy for drivers who come into their Greenlight Hubs in cities all across the country to access registration information. Building on these efforts, Uber has more to come as they continue to prioritize driving voter registration and turnout this election season.
  </div>
</div>

<div id="yelp" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/yelp-banner.png" />
  </div>
  <div class="gallery-text">
    <h2>Yelp</h2>
      In the week leading up to Election Day, Yelp will be <a href="https://www.yelpblog.com/2016/11/8-ways-to-win-election-day-with-yelp" target="_blank">driving voter turnout across their product and community</a> in numerous ways. First, Yelp will be launching an election-themed logo across the mobile products. They will also add a banner on certain business pages to help users find their polling locations. Their community managers will be engaging Elite users locally to remind them to vote through their weekly newsletter. Finally, they will also be running PR campaigns to creatively engage people to do their civic duty.
  </div>
</div>

<div id="youtube" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/youtube.png" />
  </div>
  <div class="gallery-text">
    <h2>YouTube</h2>
         YouTube ran <a href="https://www.youtube.com/playlist?list=PLbpi6ZahtOH4M-P1l2fzGAzXG4OYDzL7R" target="_blank">a voter registration campaign called 1:34</a> (1m34s, the average amount of time it takes to register to vote using Google's tools) in which we asked creators to make videos exactly that long in order to encourage their fans to register. ~250 1:34videos were uploaded, including from The Rock, Conan O'Brien, the cast of the West Wing, Bill Maher, Todrick Hall, Ryan Seacrest, the Chainsmokers, Chvrches, and Nick Nolte. In 1:34, people did everything from shooting hoops to doing hair, from petting goats to <a href="https://www.youtube.com/watch?v=Vuh3sGtqJjE" target="_blank">getting a tattoo</a>. YouTube also reminded YouTube users to register right from the product -- on the homepage, search results page and via mobile notifications. 
  </div>
</div>

<!-- End Gallery Markup -->
