<!-- Start Gallery Menu -->
<div class="playbook-nav-wrapper gallery homepage">
  <a href="#facebook" class="nav-element gallery-logo facebook selected">
    <div class="nav-element-description">Homepage Promotion</div>
  </a>

  <a href="#google" class="nav-element gallery-logo google">
    <div class="nav-element-description">Registration Day Doodle</div>
  </a>

  <a href="#airbnb" class="nav-element gallery-logo airbnb">
    <div class="nav-element-description">Voting-Focused Site</div>
  </a>

  <br class="show-3-on-home" />

  <a href="#square" class="nav-element gallery-logo square">
    <div class="nav-element-description">Register to Vote Option</div>
  </a>

  <a href="#twitter" class="nav-element gallery-logo twitter">
    <div class="nav-element-description">Voter Registration Bot</div>
  </a>

  <a href="#skimm" class="nav-element gallery-logo skimm extended">
    <div class="nav-element-description">Elections-Focused Site</div>
  </a>

  <a href="#quora" class="nav-element gallery-logo quora extended">
    <div class="nav-element-description">Register to Vote Button</div>
  </a>

  <a href="#doordash" class="nav-element gallery-logo doordash extended">
    <div class="nav-element-description">Registration Form Delivery</div>
  </a>

  <a href="/companies" class="nav-element gallery-logo seemore">
    <div class="nav-element-description">See More</div>
  </a>
</div>
<!-- End Gallery Menu -->

<!-- Start Gallery Markup -->

<div id="facebook" class="gallery-container" style="display:inline-block">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/facebook-registration-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>Facebook</h2>
    Facebook launched a homepage promotion to encourage people to confirm
    they were registered to vote. They linked to <a href="vote.usa.gov">http://vote.usa.gov/</a> for registration and
    encourage social sharing with a "registered to vote" status. <a href="http://www.sfchronicle.com/politics/article/Facebook-drives-big-spike-in-California-voter-9458921.php" target="_blank">SF Chronicle</a>
    reported that California saw a 13X jump in voter registrations on the day of this Facebook promotion.
  </div>
</div>

<div id="google" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/google-search-elections-tool-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>Google</h2>
    Google launched a 
    <a target="_blank" href="https://www.google.com/doodles/us-voter-registration-day-reminder">National Voter Registration Day Doodle</a>
    on their homepage calling upon people to vote in English, Spanish and Chinese
    within their animated image. They pointed this Doodle at their 
    <a target="_blank" href="https://www.google.com/search?q=register+to+vote+in+the+united+states">2016 Election search tool</a>
    which gives people all the state-specific info they need to vote. (This data is also available to other companies via Google's <a href="https://developers.google.comcivic-information/" target="_blank">Civic Information API</a>.)
  </div>
</div>

<div id="airbnb" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/airbnb-votingrights-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>Airbnb</h2>
    Airbnb launched and promoted a voter registration site at
    <a target="_blank" href="http://votingrightsact.airbnbaction.com/">http://votingrightsact.airbnbaction.com/</a> 
    to commemorate the day the <a target="_blank" href="https://www.airbnb.com/press/news/honoring-the-voting-rights-act">Voting Rights Act</a> was signed in 1965. They partnered with National Coalition on Black Civic Participation, Voto Latino and Democracy Works to provide specialized voter registration options, all powered by <a href="http://www.turbovote.org" target="_blank">http://www.turbovote.org</a>.
  </div>
</div>

<div id="square" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/square_callout_2.png" />
  </div>
  <div class="gallery-text">
    <h2>Square</h2>
      Square built a feature into its payments platform to allow its many businesses to easily add a "Register Today" call to action at the bottom of their purchase receipts. Their registration prompts took people to <a href="vote.usa.gov" target="_blank">http://vote.usa.gov</a> for registration.
  </div>
</div>

<div id="twitter" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/twitter_dm.png" />
  </div>
  <div class="gallery-text">
    <h2>Twitter</h2>
    Twitter launched <a href="http://www.twitter.com/gov" target="_blank">@Gov</a> to help people register by simply sending a direct message with their zip code. <a href="http://www.twitter.com/gov" target="_blank">@Gov</a> responds with information about local deadlines and how to register.
  </div>
</div>

<div id="skimm" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/theskimm-skimmthevote-2016.png" />
  </div>
  <div class="gallery-text">
    <h2>The Skimm</h2>
    TheSkimm launched a site dedicated to the elections at
    <a href="http://www.theskimm.com/2016-election" target="_blank">http://www.theskimm.com/2016-election</a>
    using a white label version of <a href="www.rockthevote.org" target="_blank">Rock the Vote</a>'s tools to power voter registration. They also included links to help people learn more about candidates and election issues. Daily Skimm emails have included promotions pointing to this page. To date, they have helped register over 85K people.
  </div>
</div>

<div id="quora" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/quora-vote-button.png" />
  </div>
  <div class="gallery-text">
    <h2>Quora</h2>
    Quora asked people to register to vote next to their
    home feed. Their Register to Vote button led people to the <a href="http://nationalvoterregistrationday.org/register-to-vote/" target="_blank">National Voter Registration Day</a> site.
  </div>
</div>

<div id="doordash" class="gallery-container">

  <hr class="gallery-sep" />

  <div class="gallery-image">
    <img src="/assets/images/gallery/screenshots/doordash_1.png" />
  </div>
  <div class="gallery-text">
    <h2>Doordash</h2>
    Doordash partnered with <a href="www.rockthevote.org" target="_blank">Rock the Vote</a> to add voter registration form delivery to its services. They created a new "store" so customers could "order" registration forms delivered to their doorsteps.
  </div>
</div>

<!-- End Gallery Markup -->
