<header class="clearfix">
<nav class="main_nav">
  <ul>
    <li>
      <a title="Home Page" class="link home" href="{{ site.baseurl }}/">
        Help America Vote
      </a>
    </li>
    <li>
      {% if page.permalink == "/playbook" %}
        {% assign active = " active" %}
      {% endif %}
      <a title="Playbook" class="{{ "link playbook not-home" | append: active }}" href="{{ site.baseurl }}/playbook">
        The Playbook
      </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/resources" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="Resources" class="{{ "link resources not-home" | append: active }}" href="{{ site.baseurl }}/resources">
         Resources
       </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/partners" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="Partners" class="{{ "link partners not-home" | append: active }}" href="{{ site.baseurl }}/partners">
         Partners
       </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/faq" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="FAQ" class="{{ "link faq not-home" | append: active }}" href="{{ site.baseurl }}/faq">
         FAQ
       </a>
     </li>
   </ul>
</nav>

  <!-- TODO: sharing buttons -->
</header>
