<header class="clearfix">
<nav class="main_nav">
  <ul>
    <li>
      <a title="Home Page" class="link home" href="{{ site.baseurl }}/">
        Help America Vote
      </a>
    </li>
    <li>
      {% if page.permalink == "/playbook" %}
        {% assign active = " active" %}
      {% endif %}
      <a title="Playbook" class="{{ "link playbook not-home" | append: active }}" href="{{ site.baseurl }}/playbook">
        The Playbook
      </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/resources" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="Resources" class="{{ "link resources not-home" | append: active }}" href="{{ site.baseurl }}/resources">
         Resources
       </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/partners" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="Partners" class="{{ "link partners not-home" | append: active }}" href="{{ site.baseurl }}/partners">
         Partners
       </a>
     </li>
     <li>
       {% assign active = "" %}
       {% if page.permalink == "/faq" %}
         {% assign active = " active" %}
       {% endif %}
       <a title="FAQ" class="{{ "link faq not-home" | append: active }}" href="{{ site.baseurl }}/faq">
         FAQ
       </a>
     </li>
   </ul>

    <div class="social-media-share">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
      </div>

      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</nav>

</header>
