/* Common page elements - headers, hr */

.page-content {
  min-height: 400px;
}

.page-header {
  text-align: center;
}

.page-title {
  color: black;
  font-family: $georgia;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.inner {
  font-size: 16px;
  max-width: 750px;
  margin: 20px auto 0;
  color: #949494;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  background-color: #979797;
  color: #979797;
  height: 1px;
  margin: 20px auto;
  width: 200px;
}

.social-media-share {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 22px;
}
