/* Common page elements - headers, hr */

.page-content {
  min-height: 360px;
}

.page-header {
  text-align: center;
}

.page-title {
  color: black;
  font-family: $georgia;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;

  @include media-query($on-palm) {
    margin-top: 70px;
  }
}

.inner {
  font-size: 16px;
  max-width: 750px;
  margin: 20px auto 0;
  color: #949494;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  background-color: #979797;
  color: #979797;
  height: 1px;
  margin: 20px auto;
  width: 200px;
}
