.question-links-container {
  max-width: 1000px;
  margin: 0 auto;

  .question-links {
    display: block;
    margin: 40px 0 10px;
    position: relative;
    list-style-type: none;
    
    li {
      margin-bottom: 25px;
      padding-right: 5%;
      padding-left: 14%;
      line-height: 1.4;
    }

    &.left-column, &.right-column {
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
  }
}

hr {
  background-color: #979797;
  color: #979797;
  height: 1px;
  margin: 20px auto;
  width: 200px;
}

.questions-list {
  max-width: 800px;
  margin: 0 auto 85px;
  color: #949494;

  h2 {
    color: black;
  }

  hr {
    margin: 50px auto;
  }
}

.page-content .question {
  color: #565656;
  margin-bottom: 20px;
  font-family: $georgia;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
}
