.main-cta {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;

  @include media-query($on-palm) {
    margin-top: 70px;
  }
}

.above-fold-text {
  font-size: 18px;
  color: #767676;
  line-height: normal;
  font-family: $georgia;
  margin-top: 50px;
}

.cta-arrow {
  margin-top: 35px;
}

.above-fold-text.below {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;

  @include media-query($on-palm) {
    width: 90%;
  }
}

.playbook-nav-wrapper.homepage {
  .nav-element {
    margin-bottom: 18px;
    padding-top: 30px;
    margin-top: 4px;

    .nav-element-title {
      text-align: center;
    }

    .nav-element-description {
      text-align: center;
    }
  }
}

.homepage-content hr.gallery-sep {
  display: none;
}

.homepage-content .gallery-logo.extended {
  display: none;
}

div.playbook-nav-wrapper+hr {
  margin-top: 42px;
}

br.on-home {
  @include media-query(850px) {
    display: none;
  }
}

.homepage-content hr {
  margin-top: 60px;
  margin-bottom: 60px;
}
