/* header and footer */

header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main_nav {
  list-style-type: none;
  font-size: 15px;
}

.main_nav li {
  display: inline-block;
  margin-right: 25px;
}

.main_nav li a {
  color: #959595;
  text-decoration: none;
  padding-bottom: 3px;
}

.main_nav li a.home {
  color: #2A9432;
}

.main_nav li a.active {
  color: #2A9432;
}

.main_nav li a.active.not-home {
  border-bottom: 3px solid #2A9432;
}

footer {
  background-color: #5B5B5B;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

footer .text {
  padding: 50px;
}

footer .links-section {
  background-color: #454545;
  font-size: 16px;
}

.page-content h2 {
  font-family: $georgia;
  font-size: 27px;
  text-align: center;
}

.social-media-share {
  position: absolute;
  display: inline-block;
  right: 30px;
  top: 22px;

  @include media-query($on-palm) {
    display: none;
  }
}

.fb_iframe_widget {
  top: -9px;
}

.cta-arrow {
  margin-bottom: 125px;
}

.arrow-img {
  background-image: url('/assets/images/arrow_sprite.png');
  background-repeat: no-repeat;
  height: 30px;
  background-position: center;
  background-position-y: 5px;
}

.arrow-img:hover {
  background-position-y: -26px;
}

.cta-module {
  width: 30%;
  display: inline-block;
  margin: 15px;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 28px;
  padding-top: 30px;
  height: 240px;
  vertical-align: top;
}

.module-parent {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 30px;
}

.cta-module img {
  display: block;
  margin: 0 auto;
}

a.cta-module {
  color: #111111;
  transition: transform .2s ease-in-out;
}

a.cta-module:hover {
  text-decoration: none;
  transition: transform .2s ease-in-out;
  transform: scale(1.05);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.05)
}

.cta-mod-title {
  font-weight: bold;
  color: #000000;
  opacity: 0.6;
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
}

.cta-mod-text {
  font-weight: 200;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}

footer .text {
  text-align: left;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 200;
}

.links-section {
  text-align: right;
  height: 75px;
  vertical-align: center;
}

.links-section .footer-link {
  display: inline-block;
  margin-left: 20px;
  margin-top: 23px;
  font-size: 16px;
}

.footer-link:last-child {
  margin-right: 20px;
}
