.playbook-item {
  display: table;
  margin: 0 auto;
  width: 900px;
  margin-top: 40px;

  @include media-query($on-palm) {
    width: auto;
  }

  .playbook-image {
    display: table-cell;
    width: 122px;
    text-align: right;
  }

  .playbook-text {
    display: table-cell;
    vertical-align: top;
    padding-left: 45px;

    .playbook-leading-to-action {
      font-family: $georgia;
      font-size: 18px;
      color: #8D8D8D;
      margin-bottom: 0;
    }

    .playbook-action {
      text-align: left;
      font-size: 22px;
      color: #565656
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      color: #949494;

      @include media-query($on-palm) {
        margin-left: -122px; /* image width */
        margin-top: 20px;
      }

      strong { 
        color: black; 
        font-weight: 400;
      }

      li {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 1.4;

        &::before {
          content: '•';
          position: absolute;
          margin-left: -20px;
        }
      }
    }
  }
}

.playbook-image.register {
  img {
    width: 66%;
    position: relative;
    right: -13px;
  }
}

.playbook-image.calendar {
  img {
    width: 50%;
  }
}

.playbook-image.early {
  img {
    width: 65%;
    position: relative;
    right: -10px;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: #C7C7C7;
  margin-top: 40px;
  margin-bottom: 40px;
}

.playbook-subtitle {
  font-family: $georgia;
  font-size: 24px;
  color: #111111;
  text-align: center;
  margin-top: 40px;
}

.playbook-title-description {
  color: #949494;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  margin-top: 8px;
}

.playbook-title-description.one-off {
  font-size: 15px;
}

.playbook-item.no-image {
  width: 790px;
  margin-top: 20px;

  @include media-query($on-palm) {
    width: auto;

    .playbook-text ul {
      margin-left: 0px; /* image width */
    }
  }
}

.playbook-text h2 {
  margin-bottom: 4px;
}

.playbook-item:last-child {
  margin-bottom: 50px;
}

.inner.playbook {
  margin-bottom: 100px;
}

.playbook-nav-wrapper {
  text-align: center;
  margin-bottom: 100px;

  a.nav-element {
    display: inline-block;
    width: 24%;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-right: 18px;
    padding: 10px 18px;

    @include media-query($on-palm) {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;
    }
  }

  a.nav-element:hover {
    text-decoration: none;
  }

  .nav-element-title {
    font-size: 18px;
    font-family: $georgia;
    color: #0D0D0D;
    text-align: left;
  }

  .nav-element-description {
    color: #949494;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 2px;
    text-align: left;
  }
}
