.resource-item {
  display: table;
  margin: 0 auto;
  max-width: 800px;

  p {
    @include media-query($on-palm) {
      margin-bottom: 0;
    }
  }

  .resource-image {
    display: table-cell;

    @include media-query($on-palm) {
      display: block;
    }

    .resource-image-inner {
      display: block;
      width: 175px;
      height: 90px;
      background-color: white;
      border: 1px solid #D7D7D7;
      border-radius: 4px;

      @include media-query($on-palm) {
        margin: 0 auto;
      }

      img {
        width: 121px;
        margin-left: 27px;
      }
      .voteplz { margin-top: 25px; }
      .slack { margin-top: 29px; }
      .google { margin-top: 29px; }
      .voteorg { margin-top: 33px; }
      .turbovote { margin-top: 36px; }
      .votegov { margin-top: 25px; }
      .takeoffelectionday { margin-top: 23px; }
      .rockthevote {
        background-color: black;
        border: 5px solid black;
        margin-left: 22px;
        margin-top: 25px;
      }
      .download {
        margin-top: 14px;
        margin-left: 58px;
        width: 35%;
      }
    }

    .resource-slack-iframe {
      width: 175px;
      height: 90px;

      iframe {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .resource-text {
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
    line-height: 1;
    color: #949494;
    width: 100%;

    @include media-query($on-palm) {
      display: block;
      margin-top: 30px;
      padding-left: 0;
    }

    .resources-header {
      color: #565656;
      font-size: 22px;
      text-align: left;
      margin-bottom: 6px;
    }
  }

  &:last-child {
    margin-bottom: 85px;
  }
}

.resources-url-wrapper {
  display: inline-block;
  margin-bottom: 6px;
}

.resource-slack-iframe.slack {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 2px;
}
